body {
  background-color: black;
}
.indextitle {
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  animation-name: indextitle;
  animation-duration: 3s;
}
@keyframes indextitle {
  0% {color: black}
  100% {color: white}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}
li {
  float: left;
}
.services {
  font-family: 'Inconsolata', monospace;
  color: white;
  padding-left: 50px
  text-align: center;
}
.services-title {
  font-size: 25px
  font-family: 'Inconsolata', monospace;
  padding-left: 15px;
  padding-top: 10px;
}
a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}
.contact-title {
  font-size: 25px
  font-family: 'Inconsolata', monospace;
  padding-left: 15px;
  padding-top: 10px;
}
.other-contact {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}
.linux-install-title {
  font-size: 25px;
  color: white;
  font-family: 'Inconsolata', monospace;
  padding-left: 15px;
  padding-top: 10px;
