body {
  background-color: black;
}
.title {
  font-family: 'Sawarabi Mincho', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
  animation-name: greetings;
  animation-duration: 7s;
}
@keyframes greetings {
  0% {color: black}
  100% {color: white}
}
.paragraph {
  font-family: 'Sawarabi Mincho', cursive;
  font-size: 20px;
  color: white;
  text-align: center;
  animation-name: message;
  animation-duration: 6s;
}
@keyframes message {
  0% {color: black}
  100% {color: white}
}
.itime {
  display: block;
  margin: 0 auto;
  bottom: 5px;
  font-family: Montserrat;
  color: white;
  font-style: italic;
  position: absolute;
}
.itimeb {
  display: block;
  bottom: 10px;
  font-family: Montserrat;
  color: white;
  font-style: italic;
  position: absolute;
}
.story {
  font-style: italic;
}
